.block {
  background-color: #fff;
  padding: 14px;

  .block_title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    overflow: hidden;
    text-align: left;

    small {
      float: right;
      color: #999;
      font-size: 12px;
      margin-top: 5px;
    }
  }
  .border-bottom {
    height: 0.5px;
    background-color: #efefef;
  }

}