html {
  touch-action:none;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-image: linear-gradient(to right top, #ffcc00 50%, #eee 50%);
  background-size: 100% calc(100% - 100vh + 5px);
  background-repeat: no-repeat;
}
body::after {
  content: "";
  position: fixed;
  top: 5px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(245, 245, 249);
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.am-tab-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 64px!important;
}
.am-tab-bar-bar, .am-tabs-tab-bar-wrap {
  height: 100%!important;
}
.fixed-header.am-navbar{
  position: fixed;
  top:0;
  z-index: 9999;
  width: 100%;
  height: 45px;
}
.absolute-header.am-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.page-content{
  padding:45px 5px;
}
.am-navbar{
  position: fixed;
  top:0;
  z-index: 9999;
  width: 100%;
}

#chat-page{
  padding:45px 0
}
#chat-page .chat-me .am-list-extra{
  flex-basis:auto;
}
#chat-page .chat-me .am-list-content{
  padding-right: 15px;
  text-align: right;
}
#chat-page .am-grid-icon{
  display: none;
}
#chat-page .am-grid-text{
  margin-top: 0;
}
.stick-footer{
  z-index:10;
  position: fixed;
  bottom: 0;
  width:100%;
}