.block.favours {
  .block__title {
    display: flex;
    width: 50%;
    justify-content: space-between;
    -webkit-box-pack: justify;
    text-align: center;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    overflow: hidden;
    &:before {
      content: '';
      border-top: 2px solid #ccc;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: block;
      margin: 9px;
    }
    &:after {
      content: '';
      border-top: 2px solid #ccc;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: block;
      margin: 9px;
    }
  }
  
}